<h1>Edit User</h1>

<%# The form action is set to /users here since @user from user#new has not been saved. %>
<%= form_with model: @user do |form| %>

  <div>
    <%= form.label :username, 'Enter a new username' %><br>
    <%= form.text_field :username, value: "#{@user[:username]}" %>
    <% @user.errors.full_messages_for(:username).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.label :password, 'Enter a new password' %><br>
    <%= form.password_field :password, value: "#{@user[:password]}" %>
    <% @user.errors.full_messages_for(:password).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.label :email, 'Enter a new email' %><br>
    <%= form.text_field :email, value: "#{@user[:email]}" %>
    <% @user.errors.full_messages_for(:email).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.submit 'Edit User' %>
  </div>

<% end %>