<h1>Add User</h1>

<%= form_tag "/users", method: "post" do %>

  <div>
    <%= label_tag('user_username', 'Username') %><br>
    <%= text_field_tag('user[username]') %>
  </div><br><br>

  <div>
    <%= label_tag('user_password', 'Password') %><br>
    <%= password_field_tag('user[password]') %>
  </div><br><br>

  <div>
    <%= label_tag('user_email', 'Email') %><br>
    <%= text_field_tag('user[email]') %>
  </div><br><br>

  <div>
    <%= submit_tag('Create User') %>
  </div>

<% end %>

<!-- Same form as above but crafted manually. Keep for reference.
<form action="/users" method="post" accept-charset="UTF-8">
  
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="user_username">Username</label>
    <input type="text" id="user_username" name="user[username]">
  </div>

  <br>

  <div>
    <label for="user_password">Password</label>
    <input type="password" id="user_password" name="user[password]">
  </div>

  <br>

  <div>
    <label for="user_email">Email</label>
    <input type="text" id="user_email" name="user[email]">
  </div>

  <div>
    <input type="submit" name="commit" value="Create User">
  </div>

</form>
-->